# Strings are Sequence of Characters

### In Python specifically, strings are a sequence of Unicode Characters
- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operation on Strings
- Strings Function

### Creating String

In [6]:
s = 'hello'
s = "hello"
# multiline String
s = '''hello'''
s = """hello"""
s = str(4)
print(s)

4

### Accessing Substrings from a Strings

In [8]:
# Positve Indexing
s = 'hello World'
print(s[3])

# Negaitve Indexing
s = 'hello World'
print(s[-3])

l
r

In [39]:
# Positive Slicing
s = 'hello World'
print(s[0:5])

#Step Size
s = 'hello World'
print(s[0:5:2])

# Negative Slicing
s = 'hello World'
print(s[4::-1])
print(s[::-1])
print(s[-1:-6:-1])

hello
hlo
olleh
dlroW olleh
dlroW

### Editing and Deleting in Strings

In [41]:
# Edit
# Python strings are immutable
s = 'hello World'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [42]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [43]:
# Python strings are immutable
s = 'hello world'

del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

# Operation on Strings
- Arthimetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [47]:
#Arthimetic Operations
print('hello' + ' ' + 'world')

hello world

In [49]:
print('*'*50)

**************************************************

In [54]:
# Relational Operation
'delhi' == 'mumbai'
'delhi' != 'mumbai'

True

In [56]:
# lexiographically comparison is happing
# it is comparing like dictionary
print('mumbai' > 'pune')

# Capital chars are smaller number in ascii chart
print('Pune' < 'pune')

False
True

In [66]:
# Logical Operation

# it'll print always the second string bc in 'and' case both are true
print('hello' and 'World')
print('world' and 'hello')

# # it'll print first string bc string == true == 1
print('hello' or 'World')
print('world' or 'hello')

World
hello
hello
world

In [67]:
# empty = false = 0 , if there's string = true = 1
print('' and 'world')
print('' or 'world')
print('hello' or 'world')
print(not '')
print(not 'hello')

world
hello
True
False

In [68]:
# For loops operation on string
for i in 'delhi':
    print(i)

d
e
l
h
i

In [69]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [70]:
# Membership Operation

'D' in 'Delhi'

True

# Common Functions

- len
- max
- min
- sorted

In [72]:
len('Hello World')

11

In [73]:
# based on ascii value
max('hello world')

'w'

In [74]:
min('hello world')

' '

In [76]:
# sorted in ascii value
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

### Capatalize/Title/Upper/Lower/Swapcase

In [97]:
s = 'hello world'
# it is creating new memory for this new instance
print(s.capitalize())
print(s)

Hello world
hello world

In [78]:
s.title()

'Hello World'

In [79]:
s.upper()

'HELLO WORLD'

In [80]:
s.lower()

'hello world'

In [85]:
'hELLO wORLD'.swapcase()

'Hello World'

# Count/Find/Index

In [86]:
'my name is nitish'.count('i')

3

In [89]:
'my name is nitish'.find('x')

-1

In [88]:
'my name is nitish'.index('x')

ValueError: substring not found

# Endswith/startswith

In [90]:
'my name is nitish'.endswith('sh')

True

In [91]:
'my name is nitish'.startswith('my')

True

# Format

In [96]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am {}'.format(name,gender)
'Hi my name is {1} and I am {0}'.format(name,gender)

# fstring
# f'Hi my name is {name} and I am {gender}'

'Hi my name is nitish and I am male'

# isalnum/isalpha/isdigit/isidentifier

In [100]:
# '%' is not a alphanum
'nitish1234%'.isalnum()

False

In [102]:
'Nitish'.isalpha()

True

In [103]:
'123'.isdigit()

True

In [108]:
# confirms if a varible can be used for assigning values
'1print'.isidentifier()

False

# Split/Join

In [116]:
'hi my name is aniket'.split()

['hi', 'my', 'name', 'is', 'aniket']

In [112]:
# split based on h
'hello world'.split('h')

['', 'ello world']

In [119]:
' '.join(['hi', 'my', 'name', 'is', 'aniket'])

'hi my name is aniket'

In [118]:
'-'.join(['hi', 'my', 'name', 'is', 'aniket'])

'hi-my-name-is-aniket'

# Replace

In [120]:
'hi my name is aniket'.replace('aniket','nitish')

'hi my name is nitish'

# Strip

In [125]:
# removes trailing spaces
'      nitish         '.strip()

'nitish'

In [124]:
'nitish aniket'.strip()

'nitish aniket'

# Example Problems

In [127]:
# find the length of a given string without using len() function

s = input('Enter string :')

counter = 0
for i in s:
    counter += 1
print(counter)

Enter string :aniket
6

In [132]:
# Extract username from a given email
# eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('Enter string :')

# for i in s:
#     if i == '@':
#         break
#     print(i, end='')

pos = s.index('@')

print(s[:pos])

Enter string :nitish24singh@gmail.com
nitish24singh

In [135]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = 'hello how are you'
char = 'h'

counter = 0

for i in s:
    if i == char:
        counter+=1
        
print(counter)

2

In [146]:
# Write a program which can remove a particular character from a string.

s = input('enter the string: ')
term = input('what would like to remove: ')

# for i in s:
#     if i == term:
#         continue
#     print(i,end ='')

result = ''

for i in s:
    if i != term:
        result = result + i

print('Results: ' ,result)

enter the string: hello
what would like to remove: h
Results:  ello

In [155]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string: ')

# a = s[::-1]

# if s == a:
#     print('Palindrom')
# else:
#     print('Not a Palindrom')
    
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s) - i - 1]:
        flag = False
        print('Not Palindrom')
        break
if flag:
    print('Palindrom')

enter the string: kjb
Not Palindrom

In [161]:
# Write a program to count the number of words in a string without split()

s = input('enter the string: ')

# for i in s:
#     if  i == " ":
#         counter+=1
# print('Total Words are ',counter-1)

L = []
result = ''
for i in s:
    if i != " ":
        result = result + i
    else:
        L.append(result)
        result = ''

L.append(result)
print(L)

enter the string: hi how are you
['hi', 'how', 'are', 'you']

In [179]:
# Write a python program to convert a string to title case without using the title()

s = input('enter the string: ')

l = []

for i in s.split():
    #l.append(i.capitalize())
     l.append(i[0].upper() + i[1:].lower())  
        
print(' '.join(l))

enter the string: hi my name is nitish
Hi My Name Is Nitish

In [187]:
# Write a program that can convert an integer to string.


number = int(input('enter the string: '))

digits = '0123456789'

result = ''

while number != 0:
    result = digits[number % 10] + result
    number = number//10
    
print(result)
print(type(result))

enter the string: 45
45
<class 'str'>