# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [263]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
l = []
for i in test_list:
    l.append(i[0])
unique = set(l)

res = []
for i in unique:
    res.append([i]) 
    for j in test_list:
        if j[0] == i:
            res[-1].append(j[1])
list(map(tuple,l1))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [25]:
# write your code here
t = (1, 5, 7, 8, 10)
l = ()
for i in range(len(t)):
    if i == 0:
        l = l + (t[i]*t[i+1],)
    elif i >= len(t)-1:
        l = l + (t[len(t)-1]* t[len(t)-2],)
    else:
        l = l+ (t[i]*t[i+1] + t[i]*t[i-1],)
l

(5, 40, 91, 136, 80)

In [264]:
# write your code here
t = (1, 5, 7, 8, 10)

L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
  L.append(t[i]*t[i-1] + t[i]*t[i+1])

L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [265]:
# write your code here
t1 = (1,2,3,0)
t2 = (1,2,3,1)
for i in range(len(t2)):
    if t1[i] != t2[i]:
        flag = False
    else:
        flag = True
        
if flag:
    print("t1 and t2 are same")
else:
    print('t1 and t2 are not same')

t1 and t2 are not same

In [269]:
t1 = (1,2,3,0)
t2 = (1,2,3,1)
for i in list(zip(t1,t2)):
    if i[0] == i[1]:
        flag = True
    else:
        flag = False
if flag:
    print("t1 and t2 are same")
else:
    print('t1 and t2 are not same')

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [271]:
# write your code here
# write your code here
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]

for i in L:
    if type(i) == list:
        output[0] = output[0] + 1
    elif type(i) == set:
        output[1] = output[1] + 1
    elif type(i) == tuple:
        output[2] = output[2] + 1
    else:
        pass

print('Lists-{}\nSets-{}\nTuples-{}'.format(output[0],output[1],output[2]))

Lists-2
Sets-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [273]:
# write your code here
records = int(input("Enter No of records- "))
t = ()
for i in range(records):
    id = int(input("Enter Details of student- "))
    name = input("Enter Student name- ").lower()
    higher_edu = input("Enter Higher Education-").lower()   
    pri_skill = input("Enter Primary Skill- ").lower()    
    grad_year = int(input("Year of Graduation- "))
    t = t+ ((id,name,higher_edu,pri_skill,grad_year),)
print(t)

print()
print("Enter Job Role Requirement")
req_skill = input("Enter Skill- ").lower()
req_higher_edu = input("Enter Higher Education- ").lower()
req_grad_year = int(input("Enter Year of Graduation-"))
req_t = (req_skill,req_higher_edu,req_grad_year)
print(req_t)
for i in t:
    flag = True
    for j in req_t:
        if j not in i:
            flag = False
    if flag == True:
            print(i[1:])

Enter No of records- 2
Enter Details of student- 1
Enter Student name- Aniket
Enter Higher Education-b.tech
Enter Primary Skill- python
Year of Graduation- 2022
Enter Details of student- 2
Enter Student name- ponian
Enter Higher Education-b.tech
Enter Primary Skill- python
Year of Graduation- 2022
((1, 'aniket', 'b.tech', 'python', 2022), (2, 'ponian', 'b.tech', 'python', 2022))

Enter Job Role Requirement
Enter Skill- python
Enter Higher Education- b.tech
Enter Year of Graduation-2022
('python', 'b.tech', 2022)
('aniket', 'b.tech', 'python', 2022)
('ponian', 'b.tech', 'python', 2022)

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [151]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

list(set(ar1).intersection(set(ar2)).intersection(set(ar3)))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [153]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = {'a','e','i','o','u','A','E','I','O','U'}
out = set()
for i in Str1:
    if i in vowels:
        out.update(i)
print("No of unique vowels-",len(out))

No of unique vowels- 6

In [274]:
# write your code here
vowels = set('aeiouAEIOU')

s = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

print('No of unique vowels-',len(s & vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [156]:
# write your code here
s = "1222211"

if len(set(s)) == 2:
    print('Yes')
else:
    print('No')

Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [159]:
# write your code here
arr = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in arr:
    s.update(i)
list(s)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [275]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [189]:
# write your code here
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7,], "Best" : [9, 9, 6, 5, 5]}

greatest = 0
greatest_key = ''

for i in test_dict:
    if len(set(test_dict[i])) > greatest:
        greatest = len(set(test_dict[i]))
        greatest_key = i
        
print(greatest_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [193]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
for i in repl_dict:
    if i in test_str:
        test_str = test_str.replace(i, repl_dict[i])
test_str

'CampusX best for DS students.'

In [276]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res = []
for i in test_str.split():
    if i in repl_dict:
        res.append(repl_dict[i])
    else:
        res.append(i)

print(" ".join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [346]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)
res = []

for i in range(0,n,2):
    res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1],})
res

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [350]:
# write your code here
l = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d = {}
for i,j in l:
    d[i] = [j]
d

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [229]:
# write your code here
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
l = []
out = {}
for i,j in d.items():
    l.append((i,sorted(j)))
    
for i,j in sorted(l,key = lambda x:x[0]):
    out.update({i:j})

out

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [353]:
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
res = {}
for i in sorted(d):
    res[i] = sorted(d[i])
res

{'a': [4, 19], 'b': [10, 12], 'c': [3]}